.glass-container {
  display: grid;
  place-items: center;
  margin-top: 10%;
  /* background-color: red; */
  padding: 20px;
  color: #0a0a0a;
  font-size: 16px;
}

.glassmorphic-box {
  width: 400px;
  height: 300px;
  border: 1px solid rgb(139, 139, 139);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgb(175, 173, 173);
}
.input-group {
  display: block;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 10px 10px 10px 10px !important;
  border: 1px solid rgb(168, 167, 167);
  &:focus {
    border: 1px solid rgb(168, 167, 167);
    outline: none;
  }
  margin: 10px 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnSubmit {
  width: 100%;
  padding: 12px;
  border: none;
  margin-top: 10px;
  border-radius: 6px;
  background: linear-gradient(135deg, #6752e4, #3b0078);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.my-btn {
  background: linear-gradient(135deg, #6752e4, #3b0078);
  &:hover {
    background: linear-gradient(135deg, #3b0078, #6752e4);
  }
}
.btnSubmit:hover {
  background: linear-gradient(135deg, #3b0078, #6752e4);
}
